<div id="assetStats" class="stats">
  <span class="asset"><span class="assetIcon">⚡</span> Energy <b id="energyValue">3</b><a href="./shop.html" class="buyEnergyLink" aria-label="Buy energy" title="Buy energy">+</a></span>
  <span class="asset sfAsset"><span class="assetLabel">D2E</span> <b id="sfValue">0</b><a href="./earnsf.html" class="earnSfLink" aria-label="Earn more D2E" title="Earn more D2E">+</a></span>
  <span class="asset steemAsset"><img class="steemLogo" src="https://s2.coinmarketcap.com/static/img/coins/64x64/1230.png" alt="Steem"><span>STEEM</span> <b id="steemValue">—</b></span>
  <span class="asset userAvatarAsset"><img id="userAvatar" class="userAvatar" src="" alt="Steem user avatar" hidden></span>
</div>
