<div id="assetStats" class="stats">
  <span class="asset"><span class="assetIcon">⚡</span> Energy <b id="energyValue">3</b><a href="./shop.html" class="buyEnergyLink" aria-label="Buy energy" title="Buy energy">+</a></span>
  <span class="asset sfAsset"><span class="assetLabel">D2E</span> <b id="sfValue">0</b><a href="./earnsf.html" class="earnSfLink" aria-label="Earn more D2E" title="Earn more D2E">+</a></span>
  <span class="asset steemAsset"><img class="steemLogo" src="https://s2.coinmarketcap.com/static/img/coins/64x64/1230.png" alt="Steem"><span>STEEM</span> <b id="steemValue">—</b></span>
  <span class="asset userAvatarAsset"><img id="userAvatar" class="userAvatar" src="" alt="Steem user avatar" hidden></span>
</div>
<style>
  #assetStats a.buyEnergyLink,
  #assetStats a.buyEnergyLink:link,
  #assetStats a.buyEnergyLink:visited,
  #assetStats a.buyEnergyLink:hover,
  #assetStats a.buyEnergyLink:active,
  #assetStats a.buyEnergyLink:focus,
  #assetStats a.earnSfLink,
  #assetStats a.earnSfLink:link,
  #assetStats a.earnSfLink:visited,
  #assetStats a.earnSfLink:hover,
  #assetStats a.earnSfLink:active,
  #assetStats a.earnSfLink:focus {
    color: #22c55e !important;
    -webkit-text-fill-color: #22c55e !important;
    text-decoration: none !important;
  }
</style>
